<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Piyush Singhania. It uses API's like mapbox and weather stack for it's functioning
        </p>
        <img src="/img/medium.jpg" class="portrait">
    </div>

    {{>footer}}

</body>

</html>